



#main_container {
    padding: 1 2 1 2;
    layout: grid;
    grid-size: 1 2;
    grid-rows: 2fr 1fr;
    grid-gutter: 1;
    background: $primary-background;
}

#node_tree {
    height: 100%;
}

#main_container #selected_node_info {
    height: 100%;
    background: black;
}

#sidebar {
    dock: left;
    height: 100%;
    width: 1;
    color: $text;
}

.sidebar_header {
    padding: 1 2;
    background: $secondary-background-darken-1;
}

#language_list {
    width: 100%;
    height: 100%;
    background: $secondary-background;
    margin-bottom: 3;
}

.language_item {
    padding: 1 2;
    text-style: bold;
    background: $secondary-background;
}

.language_item.--highlight {
    background: $secondary;
}

.tree--guides-selected {
    color: $secondary-lighten-2;
}

.tree--cursor {
    background: $secondary-background-lighten-2;
    color: $text;
    text-style: bold;
}
